* 
body {
    display: flex;
    justify-content: center;
}

.calculator {
    background-color: rgb(5, 92, 5);
    padding:15px;
    height: 500px;
    width: 450px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.output {
    width: 280px;
    height: 50px;
    background-color: rgb(238, 247, 243);
    border: 5px solid gray;
    border-radius: 15px;
}


.number-buttons {
    display: grid;
    grid-template-columns:75px 75px 75px 75px;
    grid-template-rows:75px 75px 75px 75px;
}



.span-two {
    grid-column: span 2;
}