* 
.calculator {
    background-color: orange;
    padding:15px;
    margin:20px;
    height: 800px;
    width: 450px;
    display: flex;
    justify-content: center;
}

.number-keys {
    display: grid;
    grid-template-columns:100px 100px 100px;
    grid-template-rows:100px 100px 100px 100px;
}

.keys {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-columns: 100px;
}